@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Serif+KR:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

html > body {
  font-family: "Pretendard Variable", sans-serif;
}
a {
  display: block;
}
/* slider */
.fage.s0 h1 {
  font-family: "Noto Serif KR", serif;
  font-size: 64px;
  font-weight: 100;
  letter-spacing: 8px;
  line-height: 1.71875;
}
.fage.s0 .slide.s3 h1 {
  color: white;
}
.fage.s0 span {
  font-family: "Noto Serif KR", serif;
  font-size: 18px;
  color: #3A3A3A;
  font-weight: 100;
  letter-spacing: -0.02em;
}
.fage.s0 .slide.s3 span {
  color: #e8e8e8;
}
/* section1 font */
.fage.s1 h2, .fage.s2 h2, .fage.s3 h2 {
  font-family: "Noto Serif KR", serif;
  font-size: 34px;
  display: block;
  color: #333333;
  font-weight: 500;
  z-index: 10;
}
.fage.s1 h3, .fage.s2 h3, .fage.s3 h3 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18px;
  display: block;
  font-weight: 300;
  color: #5E5E5E;
  line-height: 1.6;
}
/* section2 font */
.fage.s4 h1 {
  font-family: "EB Garamond", serif;
  font-size: 34px;
  font-weight: 500;
  color: white;
}
.fage.s4 h2 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.fage.s4 span {
  font-family: "Noto Serif KR", serif;
  font-size: 18px;
  font-weight: 200;
  color: white;
  letter-spacing: -0.02em;
}
/* section3 font */
.fage.s5 .text01 span, .fage.s6 .text01 span, .fage.s7 .text01 span {
  font-family: "Noto Serif KR", serif;
  font-weight: 100;
  font-size: 50px;
  color: white;
}
.fage.s5 .text01 a, .fage.s6 .text01 a, .fage.s7 .text01 a {
  font-size: 18px;
  color: white;
}
.fage.s5 .text02 span, .fage.s6 .text02, .fage.s7 .text02 {
  font-family: "Noto Serif KR", serif;
  font-size: 18px;
  line-height: 1.8;
  color: white;
}
/* section4 font */
.fage.s8 h1, .fage.s9 h1, .fage.s10 h1 {
  font-family: "Noto Serif KR", serif;
  font-size: 50px;
  font-weight: 400;
  color: #333;
  line-height: 84px;
}
.fage.s8 span, .fage.s9 span, .fage.s10 span {
  font-family: "Noto Serif KR", serif;
  font-size: 18px;
  font-weight: 100;
  color: #5e5e5e;
  line-height: 2;
  letter-spacing: -0.02em;
}
/* section5 font */
/* fage s11 font */
.fage.s11 span {
  font-family: "Noto Serif KR", serif;
  font-size: 28px;
  font-weight: 100;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* fage s12 font */
.fage.s12 span , .serviceBox > ul > li > span {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  letter-spacing: -0.04em;
}
.serviceBox > ul > li > ul a {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #959595;
  letter-spacing: -0.04em;
}


/* slider */
.fage.s0 {
  position: relative;
  overflow: hidden;
}
.slide-box {
  display: flex;
  width: 300%;
}
.slide {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide img {
  width: 100%;
}
.slide.s1 .text-box {
  position: absolute;
  top: 410px;
  left: 181px;
}
.slide.s2 .text-box {
  position: absolute;
  top: 302px;
  left: 271px;
}
.slide.s3 .text-box {
  position: absolute;
  top: 274px;
  left: 172px;
}
.fage.s0 .top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.top-bar > ul {
  display: flex;
  gap: 54px;
  align-items: center;
}
.top-bar .user img {
  height: 24px;
}
.top-bar .shoppingcart img {
  height: 30px;
}
.fage.s0 .text-box h1 {
  margin-bottom: 40px;
}
/* section1 */
.fage.s1, .fage.s2, .fage.s3 {
	height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ededed;
}
.img-box img {
  height: 100%;
}
.text-01 {
  position: relative;
  gap: 50px;
}
.text-01 .line-color {
  height: 49px;
  background: #ece2d7;
  position: absolute;
}
.text-box > .number-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 24px;
  font-size: 24px;
  color: #747474;
  font-weight: 600;
}
.text-box > .number-btn.s1 {
  width: 550px;
  justify-content: start;
}
.text-box > .number-btn.s2 {
  width: 510px;
  justify-content: flex-end;
}
.text-box > .number-btn.s3 {
  width: 580px;
  justify-content: start;
}
.text-box > .number-btn > li > div {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 100%;
}
.text-box > .number-btn > li:hover > div {
  background-color: #d0d0d0;
  transition: all 0.3s;
}
.text-box > .number-btn.s1 > li:first-child > div {
  background-color: white;
  border: 0px;
}
.text-box > .number-btn.s2 > li:nth-child(2) > div {
  background-color: white;
  border: 0px;
}
.text-box > .number-btn.s3 > li:last-child > div {
  background-color: white;
  border: 0px;
}


/* section2 */
.fage.s4 {
  position: relative;
}
.section2 .fage {
	height: 100vh;
  position: relative;
}
.section2 .side-sub {
  width: 440px;
  height: 100vh;
  border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  height: 100vh;
}
.content-box .content-list {
  width: 288px;
  z-index: 10;
}
.content-box .content-list .back-btn {
  position: relative;
  width: 57px;
  margin-bottom: 230px;
}
.content-box .content-list .back-btn .btn2 {
  position: absolute;
  top: 0;
  left: 0;
}
.content-box .content-list .back-btn:hover .btn2 {
  opacity: 1;
}
.content-box .content-list .back-btn .btn2
.content-box .content-list .text-list h2 {
  margin-bottom: 14px;
}
.content-box .content-list .text-list h1 {
  margin-bottom: 40px;
}
.content-box .img-box {
  z-index: 10;
}
.content-box .img-box > ul {
  display: flex;
}
.content-box .img-box > ul > li {
  width: 110px;
  height: 110px;
  border: 1px solid red;
}
.content-box .img-box > ul > li > a {
  display: flex;
  width: 100%;
  height: 100%;
 background-color: white;
}
.content-box-filter {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
}

/* section3 */
.fage.s5, .fage.s6, .fage.s7 {
  height: 100vh;
  background-color: #FDFDFD;
  position: relative;
}
.BgImg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.list-box {
  width: 584px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-box .list-box-filter {
  width: 584px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 30%;
  position: absolute;
  top: 0;
  left: 0;
}
.list-box .all-box {
  width: 384px;
  height: 780px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-box .all-box .text-box .text01 {
  gap: 28px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.list-box .all-box .text-box .text01 img {
  width: 123px;
  opacity: 0.6;
}
.list-box .all-box .text-box .text01 a {
  border: 1px solid white;
  border-radius: 200px;
  width: 140px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.list-box .all-box .text-box .text01 a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.all-box > .number-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 24px;
  font-size: 24px;
  color: #747474;
  font-weight: 600;
}
.all-box > .number-btn.s4 {
  width: 100%;
  justify-content: start;
}
.all-box > .number-btn.s5 {
  width: 100%;
  justify-content: start;
}
.all-box > .number-btn.s6 {
  width: 100%;
  justify-content: start;
}
.all-box > .number-btn > li > div {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 100%;
}
.all-box > .number-btn > li:hover > div {
  background-color: #d0d0d0;
  transition: all 0.3s;
}
.all-box > .number-btn.s4 > li:first-child > div {
  background-color: white;
  border: 0px;
}
.all-box > .number-btn.s5 > li:nth-child(2) > div {
  background-color: white;
  border: 0px;
}
.all-box > .number-btn.s6 > li:last-child > div {
  background-color: white;
  border: 0px;
}

/* section4 */
.fage.s8, .fage.s9, .fage.s10 {
	height: 100vh;
  display: flex;
  background-color: #FDFDFD;
  align-items: center;
  justify-content: center;
}
/* section4 fage s8, s9, s10 */
.s8 .box1, .s9 .box1, .s10 .box1 {
  width: 1730px;
  height: 920px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.s8 .box1 .img-box, .s9 .box1 .img-box, .s10 .box1 .img-box {
  width: 850px;
  height: 100%;
  background-color: gray;
  position: relative;
}
.s8 .box1 .text-box, .s9 .box1 .text-box, .s10 .box1 .text-box {
  width: 830px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s8 .symbol, .s9 .symbol, .s10 .symbol {
  opacity: 0.04;
}
/* section5 + footer */
.fage.s11s12 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* section5 */
.fage.s11 {
  width: 100%;
	height: calc(100vh - 445px);
  background-color: #F4F4F4;
  display: flex;
  align-items: end;
}
.fage.s11 .img-holder {
  position: relative;
  width: 100%;
  height: calc(100vh - 445px);
  background-image: url(img/section5/img-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  display: flex;
}
.fage.s11 .img-holder span {
  display: flex;
  text-align: end;
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
}

/* footer */
.fage.s12 {
  width: 100%;
  height: 445px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fage.s12 .textbox {
  width: 1735px;
  height: 310px;
  display: flex;
  gap: 165px;
}
/* footer box1 */
.fage.s12 .box1 {
  width: 149px;
  height: 36px;
}

/* footer box2 */
.fage.s12 .box2 {
  width: 1143px;
  display: flex;
  justify-content: space-between;
}
.box2 .snsBox {
  width: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box2 .snsBox > ul {
  display: flex;
  justify-content: space-between;
}
.box2 .snsBox > ul > li > a {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 100%;
}
.box2 .serviceBox {
  width: 560px;
}
.box2 .serviceBox > ul {
  display: flex;
  justify-content: space-between;
}
.box2 .serviceBox > ul > li {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.box2 .serviceBox > ul > li > ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.box2 .serviceBox > ul > li > ul > li:hover > a {
 text-decoration: underline;
 color: #555;
}
/* footer box3 */





/* #video1 {
  width: 100%;
  display: block;
  animation: fadeout 0.3s;
  animation-timing-function:ease-out; 
  animation-fill-mode: forwards;
  animation-delay: 10s;
} */
#video1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: fadein 0.3s;
  animation-timing-function:ease-out; 
  animation-fill-mode: forwards;
  animation-delay: 10s;
  overflow: hidden;
}
#video1 .video1 {
  width: 100%;
}

#video2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: fadein 0.3s;
  animation-timing-function:ease-out; 
  animation-fill-mode: forwards;
  animation-delay: 10s;
  overflow: hidden;
}
#video2 .video2 {
  width: 100%;
}

#video3 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: fadein 0.3s;
  animation-timing-function:ease-out; 
  animation-fill-mode: forwards;
  animation-delay: 10s;
  overflow: hidden;
}
#video3 .video3 {
  width: 100%;
}

#video4 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: fadein 0.3s;
  animation-timing-function:ease-out; 
  animation-fill-mode: forwards;
  animation-delay: 10s;
  overflow: hidden;
}
#video4 .video4 {
  width: 100%;
}