@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html > body {
  font-family: "Pretendard Variable", sans-serif;
}
/* section1 font */
.section1 h2 {
  font-family: "Noto Serif KR", serif;
  font-size: 34px;
  display: block;
  color: #333333;
  font-weight: 500;
  z-index: 10;
}
.section1 h3 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18px;
  display: block;
  font-weight: 300;
  color: #5E5E5E;
  line-height: 1.6;
}
/* section2 font */
.section1 h1 {

}
.section1 h2 {

}
/* section3 font */
/* section4 font */
.section4 h1 {
  font-family: "Noto Serif KR", serif;
  font-size: 50px;
  font-weight: 600;
  color: #333;
}
.section4 span {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #5e5e5e;
  line-height: 1.9;
  letter-spacing: -0.025em;
}


/* section1 */
.section1 .fage {
	height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ededed;
}
.img-box img {
  height: 100%;
}
.text-01 {
  position: relative;
  gap: 50px;
}
.text-01 .line-color {
  height: 49px;
  background: #ece2d7;
  position: absolute;
}
.text-box > .number-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 24px;
  font-size: 24px;
  color: #747474;
  font-weight: 600;
}
.text-box > .number-btn.s1 {
  width: 550px;
  justify-content: start;
}
.text-box > .number-btn.s2 {
  width: 510px;
  justify-content: flex-end;
}
.text-box > .number-btn.s3 {
  width: 580px;
  justify-content: start;
}
.text-box > .number-btn > li > div {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 100%;
}
.text-box > .number-btn > li:hover > div {
  background-color: #d0d0d0;
  transition: all 0.3s;
}
.text-box > .number-btn.s1 > li:first-child > div {
  background-color: white;
  border: 0px;
}
.text-box > .number-btn.s2 > li:nth-child(2) > div {
  background-color: white;
  border: 0px;
}
.text-box > .number-btn.s3 > li:last-child > div {
  background-color: white;
  border: 0px;
}


/* section2 */
.section2 .fage {
	height: 100vh;

}



/* section4 */
.section4 .fage {
	height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4  .fage.s2, .fage.s3, .fage.s4 {
  /* opacity: 0;
  visibility: hidden; */
}
/* section4 fage s1 */
.img-container {
  display: flex;
  gap: 40px;
  width: 1730px;
}
.img-item {
  position: relative;
  height: 920px;
  width: 850px;
  transition: all 0.5s ease;
}
.img-item:hover {
  width: 100%;
}
.img-item .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.img-item:hover  .filter{
  background-color: rgba(0, 0, 0, 0);
}
.img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-item .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: "Pretendard Variable", sans-serif;
}
.img-item:hover .title {
  opacity: 0;
}

/* section4 fage s2, s3, s4 */
.section4 .box13 {
  width: 1730px;
  height: 920px;
  display: flex;
  justify-content: space-between;
}
.box13 .img-box {
  width: 850px;
  height: 100%;
  background-color: gray;
  position: relative;
}
.img-box .back-btn-1, .back-btn-2 {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}
.back-btn-2 {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0;
  transition: all 0.1s;
}
.back-btn-2:hover {
  display: block;
  opacity: 1;
}
.box13 .text-box {
  width: 830px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.symbol {
  opacity: 0.04;
  z-index: -10;
}