/* index */
@media screen and (max-width: 1650px) {
  /* .fage.s12 */
  .fage.s12 .box2 {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1560px) {
  /* .fage.s8/s9/s10 */
  .fage.s8 h1,
  .fage.s9 h1,
  .fage.s10 h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .fage.s9 h1 {
    line-height: 70px;
  }
  .s8 .box1,
  .s9 .box1,
  .s10 .box1 {
    width: 1500px;
    height: 620px;
  }
  .s9 .symbol {
    left: -180px;
  }
  .s9 .symbol img {
    width: 615px;
    height: 580px;
  }
  .s8 .box1 .text-box {
    margin-left: 30px;
  }
  .s9 .box1 .text-box1 {
    margin-left: 30px;
  }
  .s10 .box1 .text-box {
    margin-right: 30px;
  }
  .s8 .box1 .img-box,
  .s9 .box1 .img-box,
  .s10 .box1 .img-box {
    width: 600px;
    height: 100%;
  }
  .s8 .box1 .img-box img,
  .s9 .box1 .img-box img,
  .s10 .box1 .img-box img {
    width: 600px;
    height: 100%;
  }
  .s8 .box1 .text-box,
  .s9 .box1 .text-box,
  .s10 .box1 .text-box {
    width: 730px;
    height: 100%;
  }
  .s9 .box1 .text-box1 {
    width: 280px;
  }
}
@media screen and (max-width: 1340px) {
  /* .fage.s1/s2/s3 */
  .fage.s1 > div,
  .fage.s2 > div,
  .fage.s3 > div {
    margin-right: 50px;
    margin-left: 50px;
  }
  .fage.s1 .img-box,
  .fage.s2 .img-box,
  .fage.s3 .img-box {
    width: 580px;
    height: 555px;
  }
  .fage.s1 h2,
  .fage.s2 h2,
  .fage.s3 h2 {
    font-size: 32px;
  }
  .fage.s1 h3,
  .fage.s2 h3,
  .fage.s3 h3 {
    font-size: 16px;
  }
  .fage.s1 .text-box > .number-btn.s1 {
    width: 467px;
    justify-content: start;
  }
  .fage.s1 .line-color {
    width: 224px;
    left: 16px;
  }
  .fage.s2 .text-box > .number-btn.s2 {
    width: 500px;
    justify-content: flex-end;
  }
  .fage.s2 .line-color {
    width: 258px;
  }
  .fage.s3 .text-box > .number-btn.s3 {
    width: 516px;
    justify-content: start;
  }
  .fage.s3 .line-color {
    width: 328px;
    left: 16px;
  }

  /* .fage.s4 */
  .fage.s4 .side-sub {
    display: none;
  }
  .fage.s4 .side-sub-small {
    display: block;
  }
  .fage.s4 .menu-btn a {
    display: none;
  }

  /* .fage.s5/s6/s7 */
  .fage.s5 .text01 span,
  .fage.s6 .text01 span,
  .fage.s7 .text01 span {
    font-size: 36px;
  }
  .fage.s5 .text01 a,
  .fage.s6 .text01 a,
  .fage.s7 .text01 a {
    font-size: 16px;
  }
  .fage.s5 .text02 span,
  .fage.s6 .text02,
  .fage.s7 .text02 {
    font-size: 16px;
  }
  .fage.s5 .list-box .list-box-filter,
  .fage.s6 .list-box .list-box-filter,
  .fage.s7 .list-box .list-box-filter {
    width: 480px;
  }

  /* .fage.s8/s9/s10 */
  .fage.s8 h1,
  .fage.s10 h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .fage.s9 h1 {
    font-size: 32px;
    line-height: 60px;
  }
  .fage.s8 span,
  .fage.s10 span {
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .fage.s9 span {
    font-size: 16px;
    margin-left: 20px;
  }
  .fage.s9 .text-box1 {
    width: 220px;
  }
  .s9 .symbol {
    left: -300px;
  }
  /* .fage.s12 */
  .fage.s12 {
    display: none;
  }
  .fage.s-12-sub {
    display: block;
  }
}
@media screen and (max-width: 1180px) {
  .fage.s0 .swiper-pagination {
    flex-direction: row;
    top: 85%;
    left: 47%;
  }
  .autoplay-progress {
    top: 87%;
    right: 36%;
  }
  .fage.s0 .slide.s1 .text-box,
  .fage.s0 .slide.s2 .text-box,
  .fage.s0 .slide.s3 .text-box {
    position: absolute;
    top: 302px;
    left: 50%;
    transform: translateX(-50%);
  }
  .fage.s1 .img-box,
  .fage.s2 .img-box,
  .fage.s3 .img-box {
    width: 480px;
    height: 455px;
  }
  .fage.s1 h2,
  .fage.s2 h2,
  .fage.s3 h2 {
    font-size: 28px;
  }
  .fage.s1 .line-color {
    width: 200px;
    height: 42px;
    left: 66px;
    opacity: 70%;
  }
  .fage.s2 .text-box > .number-btn.s2 {
    width: 500px;
    justify-content: flex-end;
  }
  .fage.s2 .line-color {
    width: 222px;
    height: 42px;
    opacity: 70%;
  }
  .fage.s3 .text-box > .number-btn.s3 {
    width: 516px;
    justify-content: start;
  }
  .fage.s3 .line-color {
    width: 288px;
    height: 42px;
    left: 64px;
    opacity: 70%;
  }
  .fage.s11 .img-holder span {
    font-size: 24px;
    right: 50px;
  }
}
@media screen and (max-width: 960px) {
  .autoplay-progress {
    top: 87%;
    right: 36%;
    display: none;
  }
  .fage.s1 .img-box,
  .fage.s2 .img-box,
  .fage.s3 .img-box {
    position: absolute;
    width: 100%;
    height: 550px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .fage.s1 .img-box .first-img,
  .fage.s2 .img-box .first-img,
  .fage.s3 .img-box .first-img {
    display: none;
  }
  .fage.s1 .img-box .second-img,
  .fage.s2 .img-box .second-img,
  .fage.s3 .img-box .second-img {
    display: block;
  }
  .fage.s1 h2,
  .fage.s2 h2,
  .fage.s3 h2 {
    font-size: 28px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .fage.s1 h3,
  .fage.s2 h3,
  .fage.s3 h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  .fage.s1 .line-color {
    width: 200px;
    height: 40px;
    left: 70px;
  }
  .fage.s2 .line-color {
    width: 224px;
    height: 40px;
  }
  .fage.s3 .line-color {
    width: 288px;
    height: 40px;
    left: 70px;
  }
  .fage.s1,
  .fage.s2, 
  .fage.s3 {
    position: relative;
  }
  .fage.s1 .text-box,
  .fage.s2 .text-box, 
  .fage.s3 .text-box {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    height: 320px;
    gap: 90px;
  }
  .fage.s1 .text-box .text-01,
  .fage.s2 .text-box .text-01, 
  .fage.s3 .text-box .text-01 {
    gap: 30px;
  }
  .fage.s1 .text-box h3,
  .fage.s2 .text-box h3, 
  .fage.s3 .text-box h3 {
    font-size: 18px;
    text-align: center;
  }
  .fage.s1 > div,
  .fage.s2 > div,
  .fage.s3 > div {
    margin-right: 0px;
    margin-left: 0px;
  }
  .fage.s1 .text-box > .number-btn.s1 {
    width: 467px;
    justify-content: center;
    display: none;
  }
  .fage.s2 .text-box > .number-btn.s2 {
    width: 467px;
    justify-content: center;
    display: none;
  }
  .fage.s3 .text-box > .number-btn.s3 {
    width: 100%;
    justify-content: center;
    display: none;
  }
  .fage.s4 .side-sub-small {
    display: none;
  }
  .content-1-mobile {
    display: block;
  }
  .fage.s5,
  .fage.s6,
  .fage.s7 {
    display: none;
  }
  .fage.m1 {
    display: block;
  }
  .fage.s1 .line-color {
    width: 200px;
    height: 40px;
    left: 70px;
  }
  .fage.s2 .line-color {
    width: 224px;
    height: 40px;
  }
  .fage.s3 .line-color {
    width: 288px;
    height: 40px;
    left: 70px;
  }
  .fage.s-12-sub {
    display: none;
  }
  .fage.m3 {
    display: block;
  }
}
@media screen and (max-width: 864px) {
  .fage.s0 .top-bar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .fage.s0 .slide.s1 .text-box h1,
  .fage.s0 .slide.s2 .text-box h1,
  .fage.s0 .slide.s3 .text-box h1 {
    font-size: 54px;
  }
  .fage.s0 .slide.s1 .text-box img {
    position: absolute;
    top: 95px;
    left: 14px;
    width: 190px;
  }
  .fage.s0 .slide.s2 .text-box img {
    position: absolute;
    top: 1px;
    left: 14px;
    width: 190px;
  }
  .fage.s0 .slide.s3 .text-box img {
    position: absolute;
    top: 1px;
    right: 50px;
    width: 66px;
  }
  .fage.s1 .text-box h3,
  .fage.s2 .text-box h3, 
  .fage.s3 .text-box h3 {
    font-size: 16px;
    display: block;
    width: 100%;
    justify-content: center;
  }
  .fage.s1 .line-color {
    width: 200px;
    height: 40px;
    left: 38px;
  }
  .fage.s2 .line-color {
    width: 224px;
    height: 40px;
  }
  .fage.s3 .line-color {
    width: 288px;
    height: 40px;
    left: 40px;
  }
  .fage.s11 .img-holder span {
    font-size: 20px;
    right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .fage.s0 .slide.s1 .text-box h1,
  .fage.s0 .slide.s2 .text-box h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .fage.s0 .slide.s3 .text-box h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .fage.s0 .slide.s1 .text-box span,
  .fage.s0 .slide.s2 .text-box span,
  .fage.s0 .slide.s3 .text-box span {
    display: none;
  }
  .fage.s0 .slide.s1 .text-box p1,
  .fage.s0 .slide.s2 .text-box p1,
  .fage.s0 .slide.s3 .text-box p1 {
    display: block;
  }
  .fage.s0 .slide.s1 .text-box img {
    display: none;
  }
  .fage.s0 .slide.s2 .text-box img {
    display: none;
  }
  .fage.s0 .slide.s3 .text-box img {
    display: none;
  }
  .fage.s0 .slide.s1 {
    background-position: right;
  }
  .fage.s0 .slide.s1 .text-box {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
  .fage.s0 .slide.s2 .text-box {
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
  }
  .fage.s0 .slide.s3 .text-box {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
  .fage.s1 .img-box,
  .fage.s2 .img-box,
  .fage.s3 .img-box {
    position: absolute;
    width: 540px;
    height: 550px;
  }
  .fage.s1 .img-box .first-img,
  .fage.s2 .img-box .first-img,
  .fage.s3 .img-box .first-img {
    display: block;
  }
  .fage.s1 .img-box .second-img,
  .fage.s2 .img-box .second-img,
  .fage.s3 .img-box .second-img {
    display: none;
  }
  .fage.m1 .title .text-box span {
    font-weight: 600;
    font-size: 30px;
    color: #5e5e5e;
    margin-bottom: 20px;
  }
  .fage.m1 .swiper-wrapper .title p1 {
    font-size: 24px;
  }
  .fage.m1 .swiper-wrapper .title p2 {
    font-size: 16px;
    white-space: wrap;
    text-align: left;
  }
  .fage.m1 .swiper3 .swiper {
    width: 100%;
    height: 600px;
  }
}

/* about */
@media screen and (max-width: 1340px) {
  .fage.a2 .img-box2,
  .fage.a3 .img-box3,
  .fage.a4 .img-box4 {
    width: 760px;
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .fage.a5 .all-box {
    margin-left: 80px;
    margin-right: 80px;
  }
  .fage.a5 .all-box .box1 .img-box {
    width: 510px;
    height: 330px;
  }
  .fage.a5 .all-box .box2 {
    width: 400px;
  }
  .fage.a5 .all-box .box2 .img-box {
    width: 400px;
    height: 400px;
  }
  .fage.a5 .main-title {
    left: 150px;
  }
  .fage.a7 .all-box {
    margin-left: 47px;
    margin-right: 47px;
  }
}
@media screen and (max-width: 1240px) {
  .fage.a5 .text-box h1 {
    font-size: 32px;
    transition: all 0.3s;
  }
  .fage.a5 .text-box span {
    font-size: 14px;
    transition: all 0.3s;
  }
  .fage.a1 h1 {
    font-size: 42px;
  }
  .fage.a1 span {
    font-size: 18px;
  }
  .fage.a2 .sub-title h2,
  .fage.a3 .sub-title h2,
  .fage.a4 .sub-title h2 {
    font-size: 32px;
  }
  .fage.a2 .sub-text span,
  .fage.a3 .sub-text span,
  .fage.a4 .sub-text span {
    font-size: 16px;
  }
  .fage.a1 .text-box1 {
    position: absolute;
    top: 280px;
    left: 160px;
  }
  .fage.a2 .img-box2,
  .fage.a3 .img-box3,
  .fage.a4 .img-box4 {
    width: 760px;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .fage.a2 .main-title,
  .fage.a4 .main-title {
    margin-right: 50px;
  }
  .fage.a3 .main-title {
    margin-left: 50px;
  }
  .fage.a5 .all-box .box1 .text-box h1 {
    margin-bottom: 20px;
  }
  .fage.a5 .all-box .box2 .text-box h1 {
    margin-bottom: 20px;
  }
  .fage.a5 .all-box {
    margin-top: 200px;
  }
  .fage.a5 .all-box .box1 .img-box {
    width: 460px;
    height: 330px;
  }
  .fage.a5 .all-box .box1 {
    margin-left: 50px;
  }
  .fage.a5 .all-box .box2 {
    width: 400px;
    margin-right: 0;
    margin-left: 50px;
  }
  .fage.a5 .all-box .box2 .img-box {
    width: 350px;
    height: 400px;
  }
  .fage.a5 .main-title {
    left: 150px;
  }
  .fage.a6 .all-box {
    margin-right: 20px;
    margin-left: 20px;
  }
  .fage.a6 .section .text-box h2 {
    margin-top: 32px;
  }
  .fage.a6 .section .text-box span {
    margin-top: 10px;
  }
}
@media screen and (max-width: 960px) {
}
