/* process font */
/* page p1 */
.page.p1 .box1 span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    opacity: 60%;
    letter-spacing: -0.04em;
}
.page.p1 .main-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}
.page.p1 .main-box .text-box1 span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #fff;
    opacity: 50%;
}
.page.p1 .main-box .text-box2 span,
.page.p1 .main-box .text-box3 a {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    opacity: 50%;
}
/* page p2 */
.page.p2 .text-box .box1 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #E1D9D3;
    opacity: 90%;
    letter-spacing: 0.01em;
    margin-bottom: 57px;
}
.page.p2 .text-box .box2 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #E1D9D3;
    opacity: 90%;
    letter-spacing: 0.01em;
    margin-bottom: 42px;
}
.page.p2 .text-box h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 0.01em;
    margin-bottom: 31px;
}
.page.p2 .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 80%;
    letter-spacing: -0.04em;
    line-height: 1.5;
}
.page.p2 .text-box span p1 {
    font-weight: 400;
}
.page.p2 .text-box .sub_box h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.415;
    letter-spacing: 0.03em;
}
.page.p2 .text-box .sub_box span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 80%;
    line-height: 1.325;
}
.page.p2 .text-box .ceramic_contents .content h3 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #EEEAE9;
    line-height: 1.5;
    letter-spacing: -0.04em;
}
/* page p3 */
.page.p3 .box.s1 h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #EEEAE9;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 11px;
    opacity: 90%;
}
.page.p3 .box.s1 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 68px;
    font-weight: 600;
    color: #EEEAE9;
    letter-spacing: -0.02em;
    line-height: 1.1;
    margin-bottom: 16px;
}
.page.p3 .box.s1 span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #EEEAE9;
    line-height: 1.1;
    letter-spacing: -0.02em;
}
.page.p3 .text-box .box.s2 span:first-child {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #EEEAE9;
    line-height: 1.635;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}
.page.p3 .text-box .box.s2 span:first-child p1 {
    font-size: 26px;
    font-weight: 500;
}
.page.p3 .text-box .box.s2 span:last-child {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
    color: #EEEAE9;
    opacity: 60%;
    line-height: 1.635;
    letter-spacing: 0.01em;
}
.page.p4 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #EEEAE9;
    opacity: 90%;
    line-height: 1.1;
    letter-spacing: 0.01em;
}
.page.p4 h1 p1 {
    color: #2D241E;
}
.page.p4 .text-box span:first-child {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #EEEAE9;
    opacity: 90%;
    line-height: 1.255;
    letter-spacing: 0.01em;
    margin-bottom: 70px;
}
.page.p4 .text-box .box1 span:nth-child(2) {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #EEEAE9;
    opacity: 90%;
    line-height: 1.9;
    letter-spacing: -0.04em;
    margin-bottom: 46px;
}
.page.p4 .text-box .box1 span:nth-child(2) p1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.825;
}
.page.p4 .text-box .box1 span:last-child {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
    color: #EEEAE9;
    opacity: 60%;
    line-height: 1.75;
    letter-spacing: -0.03em;
}
/* page p5*/
.page.p5 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #E1D9D3;
    opacity: 90%;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 48px;
}
.page.p5 span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #EEEAE9;
    line-height: 1.665;
    letter-spacing: -0.04em;
    margin-bottom: 58px;
    text-align: center;
}
.page.p5 span p1 {
    font-weight: 500;
}
/* .page p6 */
.page.p6 .content.s2 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #47423E;
    opacity: 90%;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 71px;
}
/* reset */
span {
    display: block;
}

/* page p1 */
.page.p1 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.page.p1 .text-box {
    width: 100%;
    height: 217px;
    background: rgb(26,21,17);
    background: linear-gradient(0deg, rgba(26,21,17,1) 20%, rgba(45,36,30,1) 43%, rgba(61,49,41,0.78) 59%, rgba(89,71,60,0.34) 76%, rgba(147,118,98,0) 93%);
    display: flex;
    align-items: center;
}
.page.p1 .main-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.page.p1 .main-box .box1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding-right: 165px;
}
.page.p1 .main-box .box2 {
    display: flex;
    align-items: center;
}
.page.p1 .main-box .box2 .line {
    width: 1px;
    height: 41px;
    background-color: #fff;
    opacity: 20%;
    margin-left: 40px;
    margin-right: 40px;
}
.page.p1 .main-box .box2 .text-box1 {
    display: flex;
    gap: 40px;
}
.page.p1 .main-box .box2 .text-box1 .contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.page.p1 .main-box .box2 .text-box2,
.page.p1 .main-box .box2 .text-box3 {
    display: flex;
    height: 81px;
    flex-direction: column;
    justify-content: space-between;
}
.page.p1 .main-box .box2 .text-box2 .text.s1,
.page.p1 .main-box .box2 .text-box3 .text.s1 {
    display: flex;
    align-items: center;
    gap: 40px;
}
.page.p1 .main-box .box2 .text-box2 .text.s2,
.page.p1 .main-box .box2 .text-box3 .text.s2 {
    display: flex;
    align-items: center;
    gap: 46px;
}
/* page p2 */
.page.p2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    scale: 1.02;
}
.page.p2::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/process/img-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(4px); 
    -moz-filter: blur(4px); 
    -o-filter: blur(4px); 
    -ms-filter: blur(4px); 
    filter: blur(4px);
    z-index: -1; 
    content: "";
}
.page.p2 .filter {
    width: 100%;
    height: 1200px;
    background-color: #2D241E;
    opacity: 50%;
    z-index: 1;
}
.page.p2 .gradient {
    width: 100%;
    height: 394px;
    background: rgb(34,30,28);
    background: linear-gradient(0deg, rgba(34,30,28,1) 8%, rgba(37,33,30,0.74) 32%, rgba(35,30,26,0.46) 58%, rgba(33,27,23,0.26) 76%, rgba(30,24,19,0) 100%);
    opacity: 80%;
    position: absolute;
    z-index: 10;
}
.page.p2 .text-box {
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 170px;
    margin-top: 89px;
    z-index: 20;
}
.page.p2 .text-box .box2 {
    width: 1108px;
}
.page.p2 .text-box .sub_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.page.p2 .text-box .sub_box .sub_title.c1,
.page.p2 .text-box .sub_box .sub_title.c2, 
.page.p2 .text-box .sub_box .sub_title.c3 {
    width: 250px;
}
.page.p2 .text-box .line_art {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.page.p2 .text-box .ceramic_contents {
    display: flex;
    justify-content: space-between;
}
.page.p2 .text-box .ceramic_contents .content {
    width: 250px;
    height: 250px;
    position: relative;
}
.page.p2 .text-box .ceramic_contents .content h3 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* page p3 */
.page.p3 {
    width: 100%;
    background-image: url(img/process/img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
.page.p3 .filter {
    width: 100%;
    height: 1400px;
    background-color: #2D241E;
    opacity: 50%;
}
.page.p3 .text-box {
    position: absolute;
    width: 1599px;
    display: flex;
    flex-direction: column;
    gap: 378px;
    top: 227px;
}
.page.p3 .text-box .box.s2 {
    margin-left: 631px;
}

/* page p4 */
.page.p4 {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.page.p4 h1 {
    position: absolute;
    top: 79px;
    margin-left: 28px;
    z-index: 10;
}
.page.p4 .content.s1 {
    width: 50%;
    background-image: url(img/process/img-4-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page.p4 .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1629px;
}
.page.p4 .content.s2 {
    width: 50%;
    height: 1135px;
    background-image: url(img/process/img-4-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* page p5 */
.page.p5 {
    width: 100%;
    height: 688px;
    background-image: url(img/process/img-5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* page p6 */
.page.p6 {
    width: 100%;
    background-image: url(img/process/img-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page.p6 .content.s1 {
    width: 100%;
    height: 1321px;
}
.page.p6 .content.s2 {
    width: 100%;
    height: 668px;
    position: relative;
}
.page.p6 .content.s2 .content-box {
    width: 1617px;
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
}
.page.p6 .content.s2 .logo-box {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 250px;
}
/* page p7 */
.page.p7 {
    width: 100%;
    height: 960px;
    background-image: url(img/process/img-7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* page p8 */
.page.p8 {
    width: 100%;
    height: 1285px;
    background-image: url(img/process/img-8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
