
/* line */
.line {
    background-color: #AE8970;
    opacity: 0.6;
}
/* page p2 line */
.page.p2 .text-box .box1 .line {
    width: 0px;
    height: 32px;
    position: absolute;
    top: 175px;
    left: 524px;
    transition: width 1.2s 1.0s;
}
.page.p2 .text-box .box1 .line.animated {
    width: 432px;
    z-index: -1;
}
/* page p3 line */
.page.p3 .text-box .box.s2 .line {
    width: 0px;
    height: 34px;
    position: absolute;
    top: 4px;
    left: 198px;
    transition: width 1.2s 1.0s;
}
.page.p3 .text-box .box.s2 .line.animated {
    width: 536px;
    z-index: -1;
}
/* page p4 line */
.page.p4 .text-box .box1 .line {
    width: 0px;
    height: 34px;
    position: absolute;
    top: 266px;
    left: 0px;
    transition: width 1.2s 1.0s;
}
.page.p4 .text-box .box1 .line.animated {
    width: 338px;
    z-index: -1;
}
/* page p5 line */
.page.p5 .line {
    width: 0px;
    height: 34px;
    position: absolute;
    top: 160px;
    left: 150px;
    transition: width 1.2s 1.0s;
}
.page.p5 .line.animated {
    width: 456px;
    z-index: -1;
}
/* page p6 */
.page.p6 .content .content-box .line.s1 {
    width: 0px;
    height: 34px;
    position: absolute;
    top: 126px;
    left: 170px;
    transition: width 1.2s 1.0s;
}
.page.p6 .content .content-box .line.s1.animated {
    width: 448px;
    z-index: -1;
}
.page.p6 .content .content-box .line.s2 {
    width: 0px;
    height: 34px;
    position: absolute;
    top: 168px;
    left: 0px;
    transition: width 1.2s 2.0s;
}
.page.p6 .content .content-box .line.s2.animated {
    width: 86px;
    z-index: -1;
}
/* page p9 */
.page.p9 .text-box .line.s1 {
    width: 0px;
    height: 30px;
    position: absolute;
    top: 132px;
    left: 1558px;
    transition: width 1.2s 1.0s;
}
.page.p9 .text-box .line.s1.animated {
    width: 96px;
    z-index: -1;
}
.page.p9 .text-box .line.s2 {
    width: 0px;
    height: 30px;
    position: absolute;
    top: 166px;
    left: 1246px;
    transition: width 1.2s 2.0s;
}
.page.p9 .text-box .line.s2.animated {
    width: 138px;
    z-index: -1;
}
/* process font */
/* page p0 */

.page.p0 .text-box .title-box h3 {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #fff;
    letter-spacing: 0.04em;
    line-height: 1.1;
    margin-bottom: 12px;
}
.page.p0 .text-box .title-box .title-sub h1 {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 500;
    font-size: 110px;
    color: #D9C7A9;
    opacity: 90%;
    line-height: 0.7;
}
.page.p0 .text-box .title-box .title-sub .title h2 {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 500;
    font-size: 46px;
    color: #D9C7A9;
    opacity: 90%;
    line-height: 0.7;
    letter-spacing: 0.1em;
    margin-top: 5px;
    margin-bottom: 18px;
}
.page.p0 .text-box .title-box .title-sub .title span {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #D9C7A9;
    opacity: 90%; 
}
.page.p0 .text-box .sub-box .sub-1 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    letter-spacing: -0.04em;
}
.page.p0 .text-box .sub-box .sub-1 .content span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    letter-spacing: -0.04em;
}
.page.p0 .text-box .sub-box .sub-1 .content span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    letter-spacing: -0.02em;
}
.page.p0 .text-box .sub-box .sub-2 h1 {
    font-family: "Yu Gothic UI", "YuGothic", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #D9C7A9;
    opacity: 90%;
}
.page.p0 .text-box .sub-box .sub-2 span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    opacity: 80%;
    letter-spacing: -0.04em;
    line-height: 1.5;
    text-align: end;
}
/* page p1 */
.page.p1 .box1 span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    opacity: 60%;
    letter-spacing: -0.04em;
}
.page.p1 .main-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}
.page.p1 .main-box .text-box1 span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #fff;
    opacity: 50%;
}
.page.p1 .main-box .text-box2 span,
.page.p1 .main-box .text-box3 a {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    opacity: 50%;
}
/* page p2 */
.page.p2 .text-box .box1 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #CDC5C0;
    opacity: 90%;
    letter-spacing: 0.01em;
    margin-bottom: 57px;
}
.page.p2 .text-box .box2 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #CDC5C0;
    opacity: 90%;
    letter-spacing: 0.01em;
    margin-bottom: 42px;
}
.page.p2 .text-box h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 0.01em;
    margin-bottom: 31px;
}
.page.p2 .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #D1D0CF;
    letter-spacing: -0.04em;
    line-height: 1.5;
}
.page.p2 .text-box span p1 {
    font-weight: 400;
}
.page.p2 .text-box .sub_box h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.415;
    letter-spacing: 0.03em;
}
.page.p2 .text-box .box1 h2 p1, 
.page.p2 .text-box .box1 h2 p2 {
    font-family: "Prata", serif;
    margin-left: 8px;
    margin-right: 8px;
} 
.page.p2 .text-box .sub_box span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #D1D0CF;
    opacity: 80%;
    line-height: 1.325;
}
.page.p2 .text-box .ceramic_contents .content h3 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #EEEAE9;
    line-height: 1.5;
    letter-spacing: -0.04em;
}
/* page p3 */
.page.p3 .box.s1 h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #EEEAE9;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 11px;
}
.page.p3 .box.s1 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 68px;
    font-weight: 600;
    color: #EEEAE9;
    letter-spacing: -0.02em;
    line-height: 1.1;
    margin-bottom: 16px;
}
.page.p3 .box.s1 span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #EEEAE9;
    line-height: 1.1;
    letter-spacing: -0.02em;
}
.page.p3 .text-box .box.s2 span:first-child {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #EEEAE9;
    line-height: 1.635;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}
.page.p3 .text-box .box.s2 span:first-child p1 {
    font-size: 26px;
    font-weight: 500;
}
.page.p3 .text-box .box.s2 span:last-child {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
    color: #EEEAE9;
    opacity: 60%;
    line-height: 1.635;
    letter-spacing: 0.01em;
}
.page.p4 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #EEEAE9;
    opacity: 90%;
    line-height: 1.1;
    letter-spacing: 0.01em;
}
.page.p4 h1 p1 {
    color: #2D241E;
}
.page.p4 .text-box span:first-child {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #EEEAE9;
    opacity: 90%;
    line-height: 1.255;
    letter-spacing: 0.01em;
    margin-bottom: 70px;
}
.page.p4 .text-box .box1 span:nth-child(2) {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #EEEAE9;
    opacity: 90%;
    line-height: 1.9;
    letter-spacing: -0.04em;
    margin-bottom: 46px;
}
.page.p4 .text-box .box1 span:nth-child(2) p1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.825;
}
.page.p4 .text-box .box1 span:last-child {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
    color: #EEEAE9;
    opacity: 60%;
    line-height: 1.75;
    letter-spacing: -0.03em;
}
/* page p5*/
.page.p5 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #E1D9D3;
    opacity: 90%;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 48px;
}
.page.p5 span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #EEEAE9;
    line-height: 1.665;
    letter-spacing: -0.04em;
    margin-bottom: 58px;
    text-align: center;
}
.page.p5 span p1 {
    font-weight: 500;
}
/* .page p6 */
.page.p6 .content.s1 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #E1D9D3;
    opacity: 90%;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
}
.page.p6 .content.s1 span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #E1D9D3;
    line-height: 1.795;
    letter-spacing: -0.04em;
    margin-bottom: 94px;
}
.page.p6 .content.s1 span p1 {
    font-weight: 500;
}
.page.p6 .content.s2 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #47423E;
    opacity: 90%;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 71px;
}
/* .page p9 */
.page.p9 .text-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #EEEAE9;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
}
.page.p9 .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #EEEAE9;
    line-height: 1.5;
    letter-spacing: -0.04em;
}
.page.p9 .text-box span p1 {
    font-weight: 500;
}
/* page p10 */
.page.p10 h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #EEEAE9;
    opacity: 80%;
    line-height: 1.1;
    letter-spacing: 0.04em;
}
/* page p13 */
.page.p13 .content-box .text-box h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #BF9D7F;
    margin-bottom: 16px;
}
.page.p13 .content-box .text-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #EEEAE9;
    margin-bottom: 16px;
    line-height: 1.4;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}
.page.p13 .content-box .text-box h1 p1 {
    font-weight: 600;
}
.page.p13 .content-box .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #EEEAE9;
    line-height: 1.5;
    letter-spacing: -0.04em;
}
/* page p14 */
.page.p14 .content-box .text-box h2 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #D9C7A9;
    margin-bottom: 16px;
}
.page.p14 .content-box .text-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #EEEAE9;
    margin-bottom: 16px;
    line-height: 1.4;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}
.page.p14 .content-box .text-box h1 p1 {
    font-weight: 600;
}
.page.p14 .content-box .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #EEEAE9;
    line-height: 1.5;
    letter-spacing: -0.04em;
}
/* page p15 */
.page.p15 .text-box h1 {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #47423E;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
}
.page.p15 .text-box span {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #47423E;
    line-height: 1.5;
    letter-spacing: -0.04em;
}
/* contents-navigation*/
#AGIJAGI-process .controller .box span:nth-child(1) {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #eeeae9;
    opacity: 80%;
    letter-spacing: 0.01em;
    transition: all 0.2s;
  }
  #AGIJAGI-process .controller .box span:nth-child(2) {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #eeeae9;
    opacity: 100%;
    letter-spacing: -0.04em;
    transition: all 0.2s;
    text-align: center;
  }
  #AGIJAGI-process .controller .box:hover span:nth-child(1) {
    opacity: 100%;
  }
  #AGIJAGI-process .controller .box:hover span:nth-child(2) {
    opacity: 100%;
    font-weight: 600;
  }
/* css */

/* reset */
span {
    display: block;
}
/* page p0 */
.page.p0 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    background-image: url(img/process/img-0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 5s ease;
    -moz-transition: background-size 5s ease;
    -web-kit-transition: background-size 5s ease;
}
.page.p0.animated {
    background-size: 106%;
}
.page.p0 .text-box {
    width: 1767px;
    display: flex;
    flex-direction: column;
    gap: 620px;
    margin-top: 58px;
}
.page.p0 .text-box .title-box {
    display: flex;
    flex-direction: column;
}
.page.p0 .text-box .title-box .title-sub {
    display: flex;
    gap: 40px;
}
.page.p0 .text-box .title-box .title-sub .title {
    display: flex;
    flex-direction: column;
}
.page.p0 .text-box .sub-box {
    display: flex;
    justify-content: space-between;
}
.page.p0 .text-box .sub-box .sub-1 h1 {
    margin-bottom: 18px;
}
.page.p0 .text-box .sub-box .sub-1 .content {
    display: flex;
    gap: 27px;
    margin-bottom: 7px;
}
.page.p0 .text-box .sub-box > a {
    position: relative;
    display: flex;
    align-items: end;
    color: white;
    opacity: 60%;
  }
.page.p0 .text-box .sub-box > a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .page.p0 .text-box .sub-box > a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
.page.p0 .text-box .sub-box .sub-2 h1 {
    margin-bottom: 25px;
}
/* page p1 wow */
.page.p1 .main-box {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p1 .main-box.animated {
    opacity: 1;
}
/* page p1 */
.page.p1 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.page.p1 .text-box {
    width: 100%;
    height: 217px;
    background: rgb(26,21,17);
    background: linear-gradient(0deg, rgba(26,21,17,1) 20%, rgba(45,36,30,1) 43%, rgba(61,49,41,0.78) 59%, rgba(89,71,60,0.34) 76%, rgba(147,118,98,0) 93%);
    display: flex;
    align-items: center;
}
.page.p1 .main-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.page.p1 .main-box .box1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding-right: 165px;
}
.page.p1 .main-box .box2 {
    display: flex;
    align-items: center;
}
.page.p1 .main-box .box2 .line {
    width: 1px;
    height: 41px;
    background-color: #fff;
    opacity: 20%;
    margin-left: 40px;
    margin-right: 40px;
}
.page.p1 .main-box .box2 .text-box1 {
    display: flex;
    gap: 40px;
}
.page.p1 .main-box .box2 .text-box1 .contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.page.p1 .main-box .box2 .text-box2,
.page.p1 .main-box .box2 .text-box3 {
    display: flex;
    height: 81px;
    flex-direction: column;
    justify-content: space-between;
}
.page.p1 .main-box .box2 .text-box2 .text.s1,
.page.p1 .main-box .box2 .text-box3 .text.s1 {
    display: flex;
    align-items: center;
    gap: 40px;
}
.page.p1 .main-box .box2 .text-box2 .text.s2,
.page.p1 .main-box .box2 .text-box3 .text.s2 {
    display: flex;
    align-items: center;
    gap: 46px;
}
/* page p2 wow */
.page.p2 .text-box .box1 h1,
.page.p2 .text-box .box2 h1 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p2 .text-box .box1 h1.animated,
.page.p2 .text-box .box2 h1.animated {
    opacity: 1;
}
.page.p2 .text-box .box1 h2,
.page.p2 .text-box .box1 span,
.page.p2 .text-box .box2 .sub_box {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-24%);
}
.page.p2 .text-box .box1 h2.animated,
.page.p2 .text-box .box1 span.animated,
.page.p2 .text-box .box2 .sub_box.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p2 .text-box .box2 .line_art {
    opacity: 0;
    transition: all 1s 0.8s;
}
.page.p2 .text-box .box2 .line_art.animated {
    opacity: 1;
}
.page.p2 .text-box .box2 .ceramic_contents {
    opacity: 0;
    transition: all 1s 1.0s;
}
.page.p2 .text-box .box2 .ceramic_contents.animated {
    opacity: 1;
}
/* page p2 */
.page.p2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    scale: 1.02;
}
.page.p2::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/process/img-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(4px); 
    -moz-filter: blur(4px); 
    -o-filter: blur(4px); 
    -ms-filter: blur(4px); 
    filter: blur(4px);
    z-index: -1; 
    content: "";
}
.page.p2 .filter {
    width: 100%;
    height: 1200px;
    background-color: #2D241E;
    opacity: 50%;
    z-index: 1;
}
.page.p2 .gradient {
    width: 100%;
    height: 394px;
    background: rgb(34,30,28);
    background: linear-gradient(0deg, rgba(34,30,28,1) 8%, rgba(37,33,30,0.74) 32%, rgba(35,30,26,0.46) 58%, rgba(33,27,23,0.26) 76%, rgba(30,24,19,0) 100%);
    opacity: 80%;
    position: absolute;
    z-index: 10;
}
.page.p2 .text-box {
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 170px;
    margin-top: 89px;
    z-index: 20;
}
.page.p2 .text-box .box1 {
    position: relative;
}
.page.p2 .text-box .box2 {
    width: 1108px;
}
.page.p2 .text-box .sub_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.page.p2 .text-box .sub_box .sub_title.c1,
.page.p2 .text-box .sub_box .sub_title.c2, 
.page.p2 .text-box .sub_box .sub_title.c3 {
    width: 250px;
}
.page.p2 .text-box .line_art {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.page.p2 .text-box .ceramic_contents {
    display: flex;
    justify-content: space-between;
}
.page.p2 .text-box .ceramic_contents .content {
    width: 250px;
    height: 250px;
    position: relative;
}
.page.p2 .text-box .ceramic_contents .content h3 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* page p3 wow */
.page.p3 .text-box .box.s1 h2 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p3 .text-box .box.s1 h2.animated {
    opacity: 0.9;
}
.page.p3 .text-box .box.s1 h1,
.page.p3 .text-box .box.s1 span {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateX(4%);
}
.page.p3 .text-box .box.s1 h1.animated,
.page.p3 .text-box .box.s1 span.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p3 .text-box .box.s2 {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p3 .text-box .box.s2.animated {
    opacity: 1;
    transform: translateY(0);
}
/* page p3 */
.page.p3 {
    width: 100%;
    background-image: url(img/process/img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
.page.p3 .filter {
    width: 100%;
    height: 1400px;
    background-color: #2D241E;
    opacity: 50%;
}
.page.p3 .text-box {
    position: absolute;
    width: 1599px;
    display: flex;
    flex-direction: column;
    gap: 378px;
    top: 227px;
}
.page.p3 .text-box .box.s2 {
    margin-left: 631px;
    position: relative;
}
/* page p4 wow */
.page.p4 h1 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p4 h1.animated {
    opacity: 0.9;
}
.page.p4 .box1 span:first-child {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateX(4%);
}
.page.p4 .box1 span:first-child.animated {
    opacity: 1;
    transform: translateX(0);
}
.page.p4 .text-box .box1 {
    position: relative;
}
.page.p4 .text-box .box1 span:nth-child(2) {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p4 .text-box .box1 span:nth-child(2).animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p4 .text-box .box1 span:nth-child(3) {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p4 .text-box .box1 span:nth-child(3).animated {
    opacity: 0.6;
    transform: translateY(0);
}
/* page p4 */
.page.p4 {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.page.p4 h1 {
    position: absolute;
    top: 79px;
    margin-left: 28px;
    z-index: 10;
}
.page.p4 .content.s1 {
    width: 50%;
    background-image: url(img/process/img-4-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page.p4 .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1629px;
}
.page.p4 .content.s2 {
    width: 50%;
    height: 1135px;
    background-image: url(img/process/img-4-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* page p5 wow */
.page.p5 h1 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p5 h1.animated {
    opacity: 0.9;
}
.page.p5 span {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p5 span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p5 .img-box img {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p5 .img-box img.animated {
    opacity: 1;
    transform: translateY(0);
}
/* page p5 */
.page.p5 {
    width: 100%;
    height: 688px;
    background-image: url(img/process/img-5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page.p5 .contents-box {
    position: relative;
    z-index: 10;
}
/* page p6 wow */
.page.p6 .content .content-box h1 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p6 .content .content-box h1.animated {
    opacity: 0.9;
}
.page.p6 .content.s1 .content-box span {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p6 .content.s1 .content-box span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p6 .content.s1 .content-box .logo-story img:nth-child(1) {
    opacity: 0;
    transition: all 1s 1.0s;
    transform: translateY(-10%);
}
.page.p6 .content.s1 .content-box .logo-story img:nth-child(1).animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p6 .content.s1 .content-box .logo-story img:nth-child(2) {
    opacity: 0;
    transition: all 1s 1.4s;
    transform: translateY(-10%);
}
.page.p6 .content.s1 .content-box .logo-story img:nth-child(2).animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p6 .content.s1 .content-box .logo-story img:nth-child(3) {
    opacity: 0;
    transition: all 1s 1.8s;
    transform: translateY(-10%);
}
.page.p6 .content.s1 .content-box .logo-story img:nth-child(3).animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p6 .content.s1 .content-box .box2 img:nth-child(1) {
    opacity: 0;
    transition: all 1s 0.6s;
}
.page.p6 .content.s1 .content-box .box2 img:nth-child(1).animated {
    opacity: 1;
}
.page.p6 .content.s1 .content-box .box2 img:nth-child(2) {
    opacity: 0;
    transition: all 1s 1.0s;
}
.page.p6 .content.s1 .content-box .box2 img:nth-child(2).animated {
    opacity: 1;
}
.page.p6 .content.s2 .content-box .logo-box img:nth-child(1) {
    opacity: 0;
    transition: opacity 0.8s 0.7s;
}
.page.p6 .content.s2 .content-box .logo-box img:nth-child(1).animated {
    opacity: 1;
}
.page.p6 .content.s2 .content-box .logo-box img:nth-child(2) {
    opacity: 0;
    transition: opacity 0.8s 1.1s;
}
.page.p6 .content.s2 .content-box .logo-box img:nth-child(2).animated {
    opacity: 1;
}
/* page p6 */
.page.p6 {
    width: 100%;
    background-image: url(img/process/img-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.page.p6 .content.s1 {
    width: 100%;
    height: 1321px;
    position: relative;
}
.page.p6 .content.s1 .content-box {
    width: 1683px;
    height: 898px;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}
.page.p6 .content.s1 .content-box .box1 {
    position: absolute;
    top: 0;
    left: 0;
}
.page.p6 .content.s1 .content-box .box2 {
    position: absolute;
    bottom: 0;
    right: 14px;
}
.page.p6 .content.s1 .content-box .box2 img:first-child {
    margin-bottom: 114px;
}
.page.p6 .content.s1 .logo-story {
    display: flex;
    align-items: center;
    gap: 46px;
}
.page.p6 .content.s1 .logo-story img:nth-child(2) {
    margin-bottom: 60px;
}
.page.p6 .content.s2 {
    width: 100%;
    height: 668px;
    position: relative;
}
.page.p6 .content.s2 .content-box {
    width: 1617px;
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
}
.page.p6 .content.s2 .logo-box {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 250px;
}
/* page p7 */
.page.p7 {
    width: 100%;
    height: 960px;
    background-image: url(img/process/img-7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* page p8 */
.page.p8 {
    width: 100%;
    height: 1285px;
    background-image: url(img/process/img-8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* page p9 wow */
.page.p9 .text-box h1 {
    opacity: 0;
    transition: all 0.8s 0.3s;
    transform: translateX(-4%);
}
.page.p9 .text-box h1.animated {
    opacity: 0.9;
    transform: translateX(0);
}
.page.p9 .text-box span {
    opacity: 0;
    transition: all 1.0s 0.6s;
    transform: translateY(-10%);
}
.page.p9 .text-box span.animated {
    opacity: 1;
    transform: translateY(0);
}
/* page p9 */
.page.p9 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    position: relative;
}
.page.p9 .text-box {
    width: 1718px;
    position: absolute;
    top: 258px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: start;
}
.page.p9 .text-box h1 {
    display: block;
    width: 472px;
}
.page.p9 .gradient {
    width: 100%;
    height: 342px;
    background: rgb(78,68,60);
    background: linear-gradient(0deg, rgba(78,68,60,1) 6%, rgba(105,92,81,0.8) 37%, rgba(137,119,105,0.5) 66%, rgba(180,157,138,0) 100%);
}

/* page p10-12 */
.page.p10-12 {
    width: 100%;
    background-image: url(img/process/main-page-info-all.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* page p10 wow */
.page.p10 h1 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p10 h1.animated {
    opacity: 1;
}
.page.p10 .contents-box .list.l1 {
    opacity: 0;
    transition: opacity 1.0s 0.7s;
}
.page.p10 .contents-box .list.l1.animated {
    opacity: 1;
}
.page.p10 .contents-box .list.l2 {
    opacity: 0;
    transition: opacity 1.0s 1.1s;
}
.page.p10 .contents-box .list.l2.animated {
    opacity: 1;
}
.page.p10 .contents-box .list.l3 {
    opacity: 0;
    transition: opacity 1.0s 1.5s;
}
.page.p10 .contents-box .list.l3.animated {
    opacity: 1;
}
.page.p10 .contents-box .list.l4 {
    opacity: 0;
    transition: opacity 1.0s 1.9s;
}
.page.p10 .contents-box .list.l4.animated {
    opacity: 1;
}
/* page p10 */
.page.p10 {
    width: 100%;
    height: 1200px;
    /* background-image: url(img/process/main-page-info-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
.page.p10 h1 {
    width: 1604px;
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
    text-align: end;
}
.page.p10 .contents-box {
    width: 1622px;
    height: 1020px;
    display: flex;
    justify-content: center;
    position: relative;
}
.page.p10 .contents-box .list.l1 {
    position: absolute;
    left: 983px;
    top: 132px;
}
.page.p10 .contents-box .list.l2 {
    position: absolute;
    left: 1231px;
    top: 245px;
}
.page.p10 .contents-box .list.l3 {
    position: absolute;
    left: 0px;
    top: 573px;
}
.page.p10 .contents-box .list.l4 {
    position: absolute;
    left: 1045px;
    top: 868px;
}
/* page p11 wow */
.page.p11 .contents-box .list.l5 {
    opacity: 0;
    transition: opacity 1.0s 0.7s;
}
.page.p11 .contents-box .list.l5.animated {
    opacity: 1;
}
.page.p11 .contents-box .list.l6 {
    opacity: 0;
    transition: opacity 1.0s 1.1s;
}
.page.p11 .contents-box .list.l6.animated {
    opacity: 1;
}
.page.p11 .contents-box .list.l7 {
    opacity: 0;
    transition: opacity 1.0s 1.5s;
}
.page.p11 .contents-box .list.l7.animated {
    opacity: 1;
}
.page.p11 .contents-box .list.l8 {
    opacity: 0;
    transition: opacity 1.0s 1.9s;
}
.page.p11 .contents-box .list.l8.animated {
    opacity: 1;
}
.page.p11 .contents-box .list.l9 {
    opacity: 0;
    transition: opacity 1.0s 1.9s;
}
.page.p11 .contents-box .list.l9.animated {
    opacity: 1;
}
/* page p11 */
.page.p11 {
    width: 100%;
    height: 1098px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.page.p11 .contents-box {
    width: 1622px;
    height: 1098px;
    display: flex;
    justify-content: center;
    position: relative;
}
.page.p11 .contents-box .list.l5 {
    position: absolute;
    left: 1156px;
    top: 90px;
}
.page.p11 .contents-box .list.l6 {
    position: absolute;
    left: 26px;
    top: 294px;
}
.page.p11 .contents-box .list.l7 {
    position: absolute;
    left: 1240px;
    top: 525px;
}
.page.p11 .contents-box .list.l8 {
    position: absolute;
    left: 1026px;
    top: 718px;
}
.page.p11 .contents-box .list.l9 {
    position: absolute;
    left: 26px;
    top: 916px;
}
/* page p12 wow */
.page.p12 .contents-box .list.l10 {
    opacity: 0;
    transition: opacity 1.0s 0.7s;
}
.page.p12 .contents-box .list.l10.animated {
    opacity: 1;
}
.page.p12 .contents-box .list.l11 {
    opacity: 0;
    transition: opacity 1.0s 1.1s;
}
.page.p12 .contents-box .list.l11.animated {
    opacity: 1;
}
.page.p12 .contents-box .list.l12 {
    opacity: 0;
    transition: opacity 1.0s 1.5s;
}
.page.p12 .contents-box .list.l12.animated {
    opacity: 1;
}
.page.p12 .contents-box .list.l13 {
    opacity: 0;
    transition: opacity 1.0s 1.9s;
}
.page.p12 .contents-box .list.l13.animated {
    opacity: 1;
}
/* page p12 */
.page.p12 {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.page.p12 .contents-box {
    width: 1622px;
    height: 1036px;
    display: flex;
    justify-content: center;
    position: relative;
}
.page.p12 .contents-box .list.l10 {
    position: absolute;
    left: 837px;
    top: 115px;
}
.page.p12 .contents-box .list.l11 {
    position: absolute;
    left: 1060px;
    top: 554px;
}
.page.p12 .contents-box .list.l12 {
    position: absolute;
    left: 1212px;
    top: 818px;
}
.page.p12 .contents-box .list.l13 {
    position: absolute;
    left: 90px;
    top: 822px;
}
/* page p13 wow */
.page.p13 .content-box .text-box h2 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p13 .content-box .text-box h2.animated {
    opacity: 1;
}
.page.p13 .content-box .text-box h1 {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p13 .content-box .text-box h1.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p13 .content-box .text-box span {
    opacity: 0;
    transition: all 1s 0.8s;
    transform: translateY(-10%);
}
.page.p13 .content-box .text-box span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p13 .content-box img:nth-child(3) {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p13 .content-box img:nth-child(3).animated {
    opacity: 1;
}
/* page p13 */
.page.p13 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p13 .content-box {
    width: 1600px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 51%;
    transform: translateX(-50%);
}
.page.p13 .content-box .text-box {
    position: absolute;
    top: 174px;
    left: 0;
} 
.page.p13 .content-box img:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 463px;
    z-index: 10;
} 
.page.p13 .content-box img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 962px;
}
.page.p13 .content-box img:nth-child(3) {
    position: absolute;
    top: 552px;
    left: 0;
    z-index: 2;
}
/* page p14 wow */
.page.p14 .content-box .text-box h2 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p14 .content-box .text-box h2.animated {
    opacity: 1;
}
.page.p14 .content-box .text-box h1 {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p14 .content-box .text-box h1.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p14 .content-box .text-box span {
    opacity: 0;
    transition: all 1s 0.8s;
    transform: translateY(-10%);
}
.page.p14 .content-box .text-box span.animated {
    opacity: 1;
    transform: translateY(0);
}
.page.p14 .content-box img:nth-child(3) {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p14 .content-box img:nth-child(3).animated {
    opacity: 1;
}
.page.p14 .content-box img:nth-child(4) {
    opacity: 0;
    transition: opacity 0.8s 0.5s;
}
.page.p14 .content-box img:nth-child(4).animated {
    opacity: 1;
}
/* page p14 */
.page.p14 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p14 .content-box {
    width: 1600px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 51%;
    transform: translateX(-50%);
}
.page.p14 .content-box .text-box {
    position: absolute;
    top: 174px;
    left: 0;
} 
.page.p14 .content-box img:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 463px;
    z-index: 2;
} 
.page.p14 .content-box img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 962px;
}
.page.p14 .content-box img:nth-child(3) {
    position: absolute;
    top: 552px;
    left: 0;
    z-index: 2;
}
.page.p14 .content-box img:nth-child(4) {
    position: absolute;
    top: 675px;
    left: 746px;
    z-index: 2;
}
/* page p15 wow */
.page.p15 .text-box h1 {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p15 .text-box h1.animated {
    opacity: 1;
}
.page.p15 .text-box span {
    opacity: 0;
    transition: all 1s 0.6s;
    transform: translateY(-10%);
}
.page.p15 .text-box span.animated {
    transform: translateY(0);
    opacity: 1;
}
.page.p15 .grid-line img:nth-child(2) {
    opacity: 0;
    transition: opacity 0.8s 0.3s;
}
.page.p15 .grid-line img:nth-child(2).animated {
    opacity: 1;
}
.page.p15 .grid-line img:nth-child(3) {
    opacity: 0;
    transition: opacity 0.8s 0.7s;
}
.page.p15 .grid-line img:nth-child(3).animated {
    opacity: 1;
}
.page.p15 .grid-line img:nth-child(4) {
    opacity: 0;
    transition: opacity 0.8s 1.1s;
}
.page.p15 .grid-line img:nth-child(4).animated {
    opacity: 1;
}
.page.p15 .grid-line img:nth-child(5) {
    opacity: 0;
    transition: opacity 0.8s 1.4s;
}
.page.p15 .grid-line img:nth-child(5).animated {
    opacity: 1;
}
.page.p15 .grid-line img:nth-child(6) {
    opacity: 0;
    transition: opacity 0.8s 1.7s;
}
.page.p15 .grid-line img:nth-child(6).animated {
    opacity: 1;
}
/* page p15 */
.page.p15 {
    width: 100%;
    height: 1214px;
    background-image: url(img/process/img-12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.page.p15 .text-box {
    position: absolute;
    width: 1662px;
    text-align: end;
    top: 127px;
    left: 50%;
    transform: translateX(-50%);
}
.page.p15 .grid-line {
    width: 1105px;
    height: 104px;
    position: absolute;
    top: 1073px;
    left: 50%;
    transform: translateX(-50%);
}
.page.p15 .grid-line img:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page.p15 .grid-line img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 45px;
}
.page.p15 .grid-line img:nth-child(3) {
    position: absolute;
    top: 0;
    left: 285px;
}
.page.p15 .grid-line img:nth-child(4) {
    position: absolute;
    top: 0;
    left: 501px;
}
.page.p15 .grid-line img:nth-child(5) {
    position: absolute;
    top: 0;
    left: 743px;
}
.page.p15 .grid-line img:nth-child(6) {
    position: absolute;
    top: 0;
    left: 971px;
}

/* page p16 */
.page.p16 {
    width: 100%;
    height: 1440px;
    background-image: url(img/process/img-13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* page p17 */
.page.p17 {
    width: 100%;
    height: 1080px;
    background-image: url(img/process/img-14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* page p18 */
.page.p18 {
    width: 100%;
    height: 1145px;
    background-image: url(img/process/img-15.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* content-navigation */
#AGIJAGI-process .contents-navigation {
    width: 96px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    position: fixed;
    bottom: 74px;
    right: 0;
  }
  #AGIJAGI-process .controller {
    width: 100%;
    height: 535px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(165, 165, 165, 0.4);
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
  #AGIJAGI-process .controller::-webkit-scrollbar {
    display: none;
  }
  #AGIJAGI-process .controller .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    z-index: 10;
  }
  #AGIJAGI-process .controller .box span:nth-child(1) {
    width: 42px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9c7a9;
    opacity: 50%;
    border-radius: 100%;
  }
  #AGIJAGI-process .remote-control {
    width: 68px;
    height: 68px;
    background-color: #D9C7A9;
    opacity: 60%;
    border-radius: 100%;
    position: relative;
    transition: all 0.3s;
  }
  #AGIJAGI-process .remote-control > div {
    position: absolute;
    left: 31%;
    width: 26px;
    height: 6%;
    background-color: #eeeae9;
    opacity: 80%;
    transition: opacity 0.3s, transform 0.3s, top 0.3s;
    border-radius: 100px;
  }
  #AGIJAGI-process .remote-control:hover {
    opacity: 100%;
  }
  #AGIJAGI-process .remote-control > div:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
  }
  #AGIJAGI-process .remote-control > div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  #AGIJAGI-process .remote-control.active > div:nth-child(1) {
    top: 46%;
    transform: translateY(-50%);
    transform: rotate(90deg);
  }
  #AGIJAGI-process .remote-control.active > div:nth-child(2) {
    top: 46%;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
  
  #AGIJAGI-process .top-btn {
    width: 68px;
    height: 68px;
    background-color: #D9C7A9;
    opacity: 60%;
    border-radius: 100%;
    transition: all 0.3s;
    position: relative;
  }
  #AGIJAGI-process .top-btn:hover {
    opacity: 100%;
  }
  #AGIJAGI-process .top-btn i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #AGIJAGI-process .content-btn {
    width: 68px;
    height: 68px;
    background-color: #D9C7A9;
    opacity: 60%;
    border-radius: 100%;
    transition: all 0.3s;
    position: relative;
  }
  #AGIJAGI-process .content-btn:hover {
    opacity: 100%;
  }
  #AGIJAGI-process .content-btn i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }